* {
    border: 1px solid black;
}

.category {
    /*color: blue;*/
    width: calc(100vw / 7);
}

.progress-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    /*margin-bottom: 40px;*/
}

/*.question-text {
    margin-top: 60px;
}*/
