/***************** FONTS ****************/
@font-face {
   font-family: 'OpenSans-Light';
   src: url('fonts/OpenSans-Light.ttf')  format('truetype');
}

@font-face {
   font-family: 'OpenSans-Regular';
   src: url('fonts/OpenSans-Regular.ttf')  format('truetype');
}


/**************** BASE *********************/

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

html {
	width: 100%;
	height: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: 'OpenSans-Regular', sans-serif;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
}

main {	
	width: 100%;
	height: 100%;
	position: relative;
}

main > div {
	width: 100%;
	height: 100%;	
}

.reactRoot {
	width: 100%;
	height: 100%;

}

/**************** HEADER *********************/
header {
	height: 40px;
	color: #FFFFFF;
	font-size: 20px;
	background-color: #65CCAA;
	padding: 15px 10% 10px 10%;
	border-bottom: solid #CAFFEE 3px;
}


/**************** HOME *********************/

.home {
	margin: 0 10% 0 10%;
}

.homeTitle {
	font-size: 45px;
	font-family: 'OpenSans-Light', sans-serif;
}

.homeDescription {
	font-size: 16px;
}

.startButton {
	border:none;
	color: #FFFFFF;
	font-size: 40px;
    box-shadow: none;
	background: #65CCAA;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
	padding: 20px 30px 20px 30px;
	font-family: 'OpenSans-Light', sans-serif;
}

.homeLegal {
	font-size: 9px;
	font-family: 'OpenSans-Light', sans-serif;
}


/**************** FOOTER *********************/
footer {
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	text-align: center;
}
.footerCopyright {
	font-size: 12px;
}